* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(260deg, #6a9eec, #65c0d3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: white;
  border-radius: 2rem;
  padding: 3rem 0;
}

.home,
.notifications,
.messages {
  display: flex;
  width: 100%;
  padding: 2rem 4rem;
  align-items: center;
  cursor: pointer;
}

svg {
  margin-right: 2rem;
}
